* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Avant Garde Gothic";
  src: url('font/Avant Garde Gothic Medium.woff') format('woff');
}
@font-face {
  font-family: "Cyrene";
  src: url('font/Cyrene.woff') format('woff');
}

body {
  font-family: "Avant Garde Gothic", sans-serif;
  background: #e0e5ec;
  z-index: -10;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  will-change: transform;
  transition: 0.8s ease transform;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  border: 0 solid #343A40;
  background-color: #393E46;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ECA3F5, #2F89FC);
  cursor: pointer;
}

.loadcon{
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadtext{
  position: absolute;
  top: 50%
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
.opacity1 {
  opacity: 1;
}

.loadtext h5{
  font-family: "Cyrene";
  color: #fff;
  font-size: 200px;
  position: absolute;
  top: 50%
  left: 50%;
  transform: translate(-50%,-50%);
}
.blocks {
	display: flex;
}

.blocks {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	height: 100vh;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.block {
	height: 100vh;
}

.block-1 {
	width: 0.2%;
	margin: 0 10px;
	background: #da0510;
}

.block-2 {
	width: 1.4%;
	margin: 0 200px 0 20px;
	background: #2001fe;
}

.block-3 {
	width: 0.8%;
	margin: 0 40px;
	background: #01fefe;
}

.block-4 {
	width: 2%;
	margin: 0 400px;
	background: #00fe00;
}

.block-5 {
	width: 0.8%;
	margin: 0 20px;
	background: #f4f315;
}

.block-6 {
	width: 2.8%;
	background: #fa04f9;
}

.noise {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0.0235;
}

.square{
  position: absolute;
  top: 45vh;
  left: 150px;
}

.square img{
  width: 90px;
  transform: rotate(40deg);
  z-index: -1;
}

.sec2{
  position: relative;
}

.cursor {
  z-index: 99;
}
.cursor .box {
  -moz-border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  background: #FF6700;
  border-radius: 50%;
  cursor: none;
  height: 6px;
  width: 6px;
  left: 0;
  margin: -3px 0 0 -3px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  z-index: 88;
}
.cursor .box.hover {
  background: rgba(13, 195, 202, 0.4);
  height: 30px;
  margin: -15px 0 0 -15px;
  width: 30px;
  z-index: 77;
}
.cursor .box .homeText {
  display: inline-block;
  font-family: din-condensed, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 24px;
  text-transform: uppercase;
  -webkit-transform: translate(19px, 10px) skewY(-6deg) !important;
  transform: translate(19px, 10px) skewY(-6deg) !important;
  -webkit-transform-origin: top;
  transform-origin: top;
  width: 200px;
}
.cursor .box .homeText > span {
  display: block;
  height: 20px;
  overflow: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.cursor .tooltipCursor {
  -webkit-transform-style: preserve-3d;
  background: transparent;
  color: #fff;
  cursor: none;
  font-family: Overpass, sans-serif;
  font-size: 11px;
  font-weight: 300;
  left: 0;
  margin: 35px 0 0 -75px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.29);
  text-transform: uppercase;
  top: 0;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  transform-style: preserve-3d;
  width: 150px;
  will-change: transform;
  z-index: 1000;
}
.cursor .tooltipCursor .click {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cursor .tooltipCursor.is-active .click {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.cursor .drag {
  -moz-border-radius: 50%;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -webkit-transform: scale(0);
  -webkit-transform-style: preserve-3d;
  background: transparent;
  border-radius: 50%;
  cursor: none;
  height: 30px;
  left: 0;
  margin: -15px 0 0 -15px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(0);
  transform-style: preserve-3d;
  width: 30px;
  will-change: transform;
  z-index: 1000;
}
.cursor .drag .next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  height: 30px;
  margin-top: -9px;
  opacity: 0;
  position: absolute;
  right: -18px;
  top: 50%;
}
.cursor .drag .next svg path {
  fill: #fff;
}
.cursor .drag .prev {
  height: 30px;
  left: -18px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
}
.cursor .drag .prev svg path {
  fill: #fff;
}

.hover-link {
  color: white;
}

/* navbar */
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  background-color: #e0e5ec;
  /* background-color: #393E46; */
  z-index: 6;
  filter: drop-shadow(0 -8px 35px rgb(100,100,100));
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: #393E46 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 11px;
}

.logo h4{
  font-family: "Cyrene",sans-serif;
  font-weight: 200;
  cursor: pointer;
  font-size: 1.7rem;
}

#imgborder{
  height: 2.6rem;
  width: 2.6rem;
  margin-bottom: 10px;
  margin-right: 7px;
  border-radius: 50%;
  border: 1.8px solid #393E46;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 2;
}
.imageborder-active {
  background-color: rgba(70, 70, 70, 0.385);
  transform: scale(1.11);
}

#playpause {
  width: 22px;
  cursor: pointer;
}

.nav-links {
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
  width: 30rem;
}

.nav-links li {
  list-style: none;
  padding: 5.5px 8px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.nav-links a {
  font-family: "Cyrene", sans-serif;
  color: #393E46;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  transition: 0.5s;
  letter-spacing: 3px;
  /* cursor: url(https://luyu.co/wp-content/uploads/pointer_eye_s.png), auto !important; */
}

.navlinkspan{
  transform: translate(0,100%);
  display: inline-block;
}

.nav-links a:hover {
  color: #6cdbeb;
  letter-spacing: 4.5px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #393E46;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger div:hover {
  color: #6cdbeb;
}


/* Title Section */
#title {
  height: 100vh;
  width: 100%;
}

.title-img{
  position: absolute;
  width: 30%;
  right: 30em;
  top: 12em;
}
.title-img img{
  position: absolute;
  width: 100%;
  visibility: hidden;
  clip-path: polygon(100% 0, 100% 0, 0 100%, 0 100%);
  transition: all 0.4s;
  mix-blend-mode: difference;
}
.showimg{
  visibility: visible !important;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%) !important;
  transition: clip-path 0.4s;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

h1 {
  font-family: "Cyrene", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  margin: auto;
  color: #393E46;
  font-size: 5.3rem;
  line-height: 0.8;
  letter-spacing: 3px;
  overflow: hidden;
}
h2 {
  font-family: "Cyrene", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  margin: auto;
  color: #6cdbeb;
  font-size: 4rem;
  line-height: 0.8;
  letter-spacing: 3px;
  overflow: hidden;
}
.title-box-3 h3 {
  overflow: hidden;
  font-family: "Cyrene", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color: #393E46;
  font-size: 10rem;
  line-height: 0.8;
  width: 670px;
  z-index: 3;
}
.loc{
  overflow: hidden;
  position: absolute;
  font-size: 15px;
  color: #393E46;
  bottom: 3vh;
  left: 5.5rem;
}
.welcome{
  overflow: hidden;
  position: absolute;
  font-size: 15px;
  color: #393E46;
  top: 15vh;
  left: 5.5rem;
}

.hidden1{
  transform: translate(0,100%);
  transition: 2s linear all;
}
.showtext1{
  transform: translate(0,100%);
  display: inline-block;
  animation: reveal1 1s cubic-bezier(.34,.5,.29,.94) 8.5s forwards;
}
@keyframes reveal1 {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}
.hidden2{
  transform: translate(0,100%);
  transition: 2s linear all;
}
.showtext2{
  transform: translate(0,100%);
  display: inline-block;
  animation: reveal2 1s cubic-bezier(.34,.5,.29,.94) 9s forwards;
}

@keyframes reveal2 {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}
.hidden3{
  transform: translate(0,100%);
  transition: 2s linear all;
}
.showtext3{
  transform: translate(0,100%);
  display: inline-block;
  animation: reveal3 1.5s cubic-bezier(.34,.5,.29,.94) 9.8s forwards;
}

@keyframes reveal3 {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}
.hidden4{
  transform: translate(0,100%);
  transition: 2s linear all;
}
.showtext4{
  transform: translate(0,100%);
  display: inline-block;
  animation: reveal4 1.5s cubic-bezier(.34,.5,.29,.94) 9s forwards;
}

@keyframes reveal4 {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}
.hidden5{
  transform: translate(0,100%);
  transition: 2s linear all;
}
.showtext5{
  transform: translate(0,100%);
  display: inline-block;
  animation: reveal5 1.5s cubic-bezier(.34,.5,.29,.94) 8.5s forwards;
}

@keyframes reveal5 {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}

.heading-child-1{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 70%;
}
.heading-child-2{
  height: 100%;
  width: 30%;
}

.title-box-1 {
  height: 50%;
  position: relative;
}
.title-box-2 {
height: 50%;
position: relative;
}
.title-box-3 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}
.title-box-3:hover{
  transform: rotate(-7deg) scale(0.8);
}
.h1div{
  position: absolute;
  width: 18.8rem;
  left: 5.5rem;
  top: 15rem;
  transition: 0.7s ease-in-out;
}
.h1div:hover{
  transform: scale(1.7);
  transform-origin: left;
}
.h2div{
  position: absolute;
  width: 24.5rem;
  left: 5.5rem;
  top: 4rem;
  transition: 0.7s ease-in-out;
}
.h2div:hover{
  transform: scale(1.5);
  transform-origin: left;
}
.h31{
  position: absolute;
  transform: rotate(90deg);
  top: 50vh;
  left: -2rem;
  overflow: hidden;
}
.h32{
  position: absolute;
  transform: rotate(90deg);
  top: 46vh;
  left: -10rem;
  overflow: hidden;
}

.h1fs{
  color: #6cdbeb;
}
.h2fs{
  color: #393E46;
}
.h1span{
  letter-spacing: 17px;
}
.h2span{
  letter-spacing: 20px;
}
.h3span{
  animation: changecol 2.5s ease-in-out infinite;
}
@keyframes changecol {
  0%{
    color: #6cdbeb;
  }
  50%{
    color: #FF6700;
  }
  100%{
    color: #6cdbeb;
  }
}
.uiux{
  font-family: "Cyrene", sans-serif;
  padding: 0;
  font-size: 10rem;
  letter-spacing: 3.2rem;
}

/*  About Section */
#about {
  padding: 90px 0 45px;
  height: 93%;
  width: 100%;
  /* background-color: #e0e5ec; */
}

.about-parent {
  margin: 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-child-1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 40%;
  border-radius: 50px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
}

.about-child-2 {
  margin: 0;
  width: 40%;
  align-self: center;
  background-color: #393E46;
  border-radius: 50px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
}

.myimg img {
  padding: 15%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 100px;
  align-items: center;
}

.about-child-2 h3 {
  font-family: "Cyrene",sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 4.7rem 4rem 3.5rem 10%;
  color: #393E46;
}

.about-child-2 p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  padding: 0 10% 10% 10%;
  color: #393E46;
  line-height: 1.7;
}

.aboutimg {
  display: flex;
  justify-content: center;
}

.about-pic {
  width: 85%;
  margin-bottom: 20px;
}

/* Skills-Box */
#skills {
  padding: 45px 0 60px;
  height: 93%;
  width: 100%;
  background: #e0e5ec;
}

.skills-parent {
  margin: 0;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-child-1 {
  width: 40%;
  align-self: center;
  border-radius: 50px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
}

.skills-child-2 {
  border-radius: 50px;
  padding: 0 25px 50px 25px;
  align-self: center;
  width: 40%;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
}

.skills-child-1 h3 {
  font-family: "Cyrene",sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 4.7rem 4rem 3.5rem 10%;
  color: #393E46;
}

.skills-child-1 p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  padding: 0 10% 5% 10%;
  color: #393E46;
  line-height: 1.7;
}

.rbtn {
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 10%;
  height: 55px;
  width: 160px;
  color: #ffffff;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
  background-color: #393E46;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  font-size: 1.2rem;
  font-weight: 400;
  outline: none;
  border: none;
  font-family: "Cyrene", sans-serif;
}

.rbtn:hover {
  transform: skewY(7deg);
  background-color: rgb(57, 62, 70, 0.8);
  cursor: pointer;
}

.skills-child-2 ul {
  padding: 0;
  list-style-type: none;
}

.skillsimg {
  display: flex;
  justify-content: center;
}

.skills-pic {
  width: 85%;
  margin-bottom: 20px;
}

.skills-child-2 li {
  position: relative;
  list-style: none;
  margin: 50px 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.skills-child-2 li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  box-shadow: inset 0px 1.5px 4.4px rgba(0, 0, 0, 0.5), 0px 3px rgba(224, 229, 236, 0.8);
  background-color: #e0e5ec;
  border-radius: 1000px;
}

.skills-child-2 li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: #393E46;
  border-radius: 1000px;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

.skills-child-2 li.html:after {
  -webkit-animation-name: html;
}

@keyframes html {
  to {
    width: 95%;
  }
}

.skills-child-2 li.css:after {
  -webkit-animation-name: css;
}

@keyframes css {
  to {
    width: 90%;
  }
}

.skills-child-2 li.js:after {
  -webkit-animation-name: js;
}

@keyframes js {
  to {
    width:85%;
  }
}

.skills-child-2 li.java:after {
  -webkit-animation-name: java;
}

@keyframes java {
  to {
    width: 90%;
  }
}

.skills-child-2 li.c:after {
  -webkit-animation-name: c;
}

@keyframes c {
  to {
    width: 90%;
  }
}

.skills-child-2 li.ui:after {
  -webkit-animation-name: ui;
}

@keyframes ui {
  to {
    width: 95%;
  }
}

#c {
  max-width: 100%;
  display: block;
  padding-bottom: 15px;
}

/* Gallery-box */
.gallery-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 250px;
  margin: 10px auto 70px;
  border-radius: 40px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
}

.gallery-heading-inner {
  height: 200px;
  width: 450px;
  border-radius: 25px;
  box-shadow: inset 9px 9px 39px #c7ccd2, inset -9px -9px 39px #ffffff;
}

.gallery-heading h3 {
  font-family: "Cyrene",sans-serif;
  padding-top: 1.7rem;
  font-size: 5em;
  font-weight: 600;
  color: #393E46;
}
.galleryspan{
  border: 1px solid #FF6700;
  border-radius:  49% 51% 52% 48% / 38% 41% 59% 62% ;
}

.gallery-heading p {
  font-family: "Cyrene",sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #393E46;
  letter-spacing: 3px;
}

.swiper-container{
  height: 60%;
  width: 75%;
}

.swiper-slide{
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img{
  object-fit: cover;
  height: 75%;
  width: 90%;
}

.swiper-button-next, .swiper-button-prev{
  color: #6cdbeb !important;
}

.swiper-pagination-bullet{
  background-color: #6cdbeb !important;
}

/* Contact-Box */
#contact {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #e0e5ec;
}

.contact-box {
  max-width: 90%;
  width: 100%;
  border-radius: 15px;
}

.contact-box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px;
  border-radius: 50px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin: auto;
  border-radius: 10px;
  background: #e0e5ec;
  box-shadow: inset 9px 9px 15px #c7ccd2, inset -9px -9px 15px #ffffff;
}

.topic h3 {
  font-family: "Cyrene",sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 3px;
}

.content .image-box {
  max-width: 40%;
}

.content .image-box img {
  width: 100%;
  margin-left: 30px;
}

.content .topic {
  font-size: 2.5rem;
  font-weight: 600;
  color: #393E46;
}

.content form {
  width: 40%;
  margin-right: 30px;
}

.content .input-box {
  height: 50px;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.content .input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.content .input-box input:focus,
.content .input-box input:valid {
  background-color: #e0e5ec;
}

.content .input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #393E46;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.content .message-box label {
  position: absolute;
  left: 18px;
  top: 11%;
  color: #393E46;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-4.7%);
  transition: all 0.3s ease;
}

.content .input-box input:focus~label,
.content .input-box input:valid~label {
  top: 0;
  left: 12px;
  display: 14px;
  color: #393E46;
  font-size: 14px;
}

.content .message-box {
  min-height: 100px;
  position: relative;
  border-radius: 10px;
  background-color: #e0e5ec;
}

.content .message-box textarea {
  position: absolute;
  padding: 10px 15px 10px;
  height: 100%;
  width: 100%;
  resize: none;
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 10px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
  outline: none;
  transition: all 0.3s ease;
}

.content .message-box textarea:focus .content .message-box textarea:valid {
  background-color: #e0e5ec;
}

.content .message-box textarea:focus~label,
.content .message-box textarea:valid~label {
  left: 12px;
  top: -10px;
  color: #393E46;
  font-size: 14px;
}

.content .input-box input[type="submit"] {
  font-family: "Cyrene",sans-serif;
  color: #fff;
  background: #393E46;
  padding-left: 0;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.content .input-box input[type="submit"]:hover {
  transform: skewY(-3.7deg);
  background-color: rgb(57, 62, 70, 0.8);
}

.icons {
  width: 430px;
  margin-top: 25px;
  border: 4px solid #e0e5ec;
  border-radius: 22px;
  background: #e0e5ec;
  box-shadow: 9px 9px 39px #c7ccd2, -9px -9px 39px #ffffff;
}

.icons-inner {
  margin: auto;
  width: 420px;
  border-radius: 20px;
  box-shadow: inset 9px 9px 39px #c7ccd2, inset -9px -9px 39px #ffffff;
}

.social-icons {
  margin: 20px;
  padding: 16px;
  border-radius: 50%;
}

.icons i {
  color: #393E46;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icons i:hover {
  color: #6cdbeb;
  transform: scale(1.1);
}

/* Footer-Box */
#footer {
  margin-top: 15px;
  word-spacing: 5px;
  background-color: #393E46;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
}

.mention {
  font-size: 1.4rem;
  color: #ffffff;
}

.copyright {
  font-size: 1rem;
  color: #ffffff;
}

.slogan {
  font-size: 1.8rem;
  color: #ffffff;
}

/* Meadia Queries */
@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  .loadtext h5{
    font-size: 100px;
  }

  .loadtext{
    top: 47%;
  }

  .block-1 {
  	width: 1%;
  	margin: 0 20px 0 0;
  	background: #da0510;
  }

  .block-2 {
  	width: 3%;
  	margin: 0 10px 0 20px;
  	background: #2001fe;
  }

  .block-3 {
  	width: 2%;
  	margin: 0 40px;
  	background: #01fefe;
  }

  .block-4 {
  	width: 2%;
  	margin: 0 40px;
  	background: #00fe00;
  }

  .block-5 {
  	width: 0.8%;
  	margin: 0 20px;
  	background: #f4f315;
  }

  .block-6 {
  	width: 2.8%;
  	background: #fa04f9;
  }

  /* .square{
    position: absolute;
    top: 20vh;
    left: 50px;
  }

  .square img{
    width: 60px;
    z-index: 1;
  } */

  .cursor {
    display: none;
  }

  nav {
    max-height: 7vh;
    filter: drop-shadow(0 -8px 20px rgb(100,100,100));
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 93vh;
    top: 7vh;
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links a {
    color: #e0e5ec;
  }

  .nav-links li {
    opacity: 0;
  }

  .logo h4{
  font-size: 17.5px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .heading{
    display: flex;
    flex-direction: column;
  }

  .heading-child-1{
    height: 20%;
    width: 100%;
  }

  .heading-child-2{
    position: relative;
    height: 80%;
    width: 100%;
  }

  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
  }

  h1 {
    font-size: 5.35rem;
    line-height: 0.95;
    letter-spacing: 0;
    overflow: hidden;
  }
  h2 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
  }
  .title-box-3 h3 {
    font-size: 4rem;
    line-height: 1;
    width: 20rem;
    z-index: 3;
    text-align: left;
  }

  .heading-child-1{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .heading-child-2{
    height: 100%;
    width: 100%;
  }

  .title-box-1 {
    height: 50%;
  }
  .title-box-2 {
  height: 50%;
  width: 100%;
  }
  .title-box-3 {
    width: 100%;
    height: 100%;
  }
 .title-box-3:hover{
    transform: none;
  }
  .loc{
    transform: rotate(90deg);
    font-size: 12px;
    bottom: -57vh;
    right: -13rem;
  }
  .welcome{
    top: 5.6rem;
    font-size: 12px;
    left: 2rem;
  }
  .h1div{
    width: 20rem;
    left: 2rem;
    top: 8rem;
  }
  .h1div:hover{
    transform: none;
  }
  .h2div{
    width: 20rem;
    left: 2rem;
    top: 7rem;
  }
  .h2div:hover{
    transform: none;
  }

  .h31{
    transform: rotate(0deg);
    top: 10.8vh;
    left: 2rem;
    text-align: left;
  }
  .h32{
    position: absolute;
    transform: rotate(0deg);
    width: auto;
    top: 18vh;
    left: 2rem;
  }

  .h1span{
    letter-spacing: 3px;
  }
  .h2span{
    letter-spacing: 3px;
  }
  .uiux{
    font-size: 4rem;
    letter-spacing: 29px;
  }

  #about {
    height: auto;
  }

  .about-parent {
    flex-direction: column;
  }

  .about-child-1 {
    width: 85%;
    margin-bottom: 60px;
  }

  .about-child-2 {
    width: 85%;
    border-radius: 60px 60px 60px 60px;
  }

  .myimg img {
    padding: 5%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50px;
    align-items: center;
  }

  .about-child-2 h3 {
    font-size: 2.5rem;
    padding: 3.3rem 3rem 2.3rem 10%;
  }

  .about-child-2 p {
    font-size: 100%;
  }

  #skills {
    justify-content: space-between;
    height: auto;
  }

  .skills-parent {
    flex-direction: column;
  }

  .skills-child-1 {
    width: 85%;
    border-radius: 60px 60px 60px 60px;
  }

  .skills-child-2 {
    width: 85%;
    margin-top: 70px;
    padding: 0 30px 0 30px;
  }

  .skills-child-1 h3 {
    font-size: 2.5rem;
    padding: 3.3rem 3rem 2.3rem 10%;
    line-height: 1.5;
  }

  .skills-child-1 p {
    font-size: 1rem;
  }

  .rbtn {
    height: 45px;
    width: 130px;
    -webkit-transition: ease-in-out 0.3s;
    font-size: 0.9rem;
  }

  .rbtn:hover {
    background-color: rgb(57, 62, 70, 0.8);
  }

  .skills-child-2 li {
    padding-left: 10px;
    margin: 50px 0;
    font-weight: 400;
    font-size: 1rem;
  }

  .gallery-heading {
    height: 170px;
    width: 330px;
    margin: 10px auto 30px;
    border-radius: 40px;
    background: #e0e5ec;
  }

  .gallery-heading-inner {
    height: 120px;
    width: 280px;
    border-radius: 25px;
  }

  .gallery-heading h3 {
    padding-top: 1.7rem;
    font-size: 2rem;
    font-weight: 20px;
    color: #393E46;
  }

  .gallery-heading p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #393E46;
  }

  .swiper-container{
    height: 85%;
    width: 100%;
  }

  .swiper-slide img{
    height: 75%;
    width: 90%;
    object-fit: cover;
  }

  /* .swiper-container{
    height: 220px;
    width: 366.663px;
  }

  .swiper-slide img{
    height: 220px;
    width: 366.663px;
    object-fit: cover;
  } */

  .swiper-button-prev {
    left: 7% !important;
  }
  .swiper-button-next {
    right: 7% !important;
  }

  #contact {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }

  .topic h3 {
    margin-top: 12px;
  }

  .contact-box .content {
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 25px;
  }

  .content .image-box {
    max-width: 70%;
  }

  .content .image-box img {
    width: 100%;
    margin-left: 5px;
    margin-bottom: 45px;
    padding-top: 50px;
  }

  .content form {
    width: 100%;
    margin: 0;
  }

  .icons-inner {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  .social-icons {
    margin: 10px;
    padding: 16px;
    border-radius: 50%;
  }

  .icons {
    width: 100%;
    margin-bottom: 45px;
  }

  #footer {
    word-spacing: 5px;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: .1rem;
  }

  .mention {
    font-size: 1.1rem;
    color: #ffffff;
  }

  .copyright {
    font-size: 0.8rem;
    color: #ffffff;
  }

  .slogan {
    font-size: 1.4rem;
    color: #ffffff;
  }
}
